.menu {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 60px;
    /* position: r; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1); */
}

.logo-icon {
    /* padding: px; */
    font-size: 30px;
    color: #0256f2;
}

.icon {
    color: #27374d;
    font-size: 22px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    color: black;
    /*#27374d*/
}

.logo h1 {
    padding: 5px;
    font-size: 26px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu--list {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.menu--list .item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    color: black;
}

.profile-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    color: black;
}

.profile-icon {
    font-size: 26px;
    color: black;
    /* #27374d*/
    /* background-color: grey; */
    border-radius: 50%;
}

.profile :hover {
    background-color: #0256f2;
    /* opacity: 50%; */
    color: #dde6ed;

}

.menu--list .item:hover {
    background-color: #0256f2;
    /* opacity: 50%; */
    color: #dde6ed;
}

.hamburger {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu-container {
        display: none;
        position: fixed;
        top: 60px;
        right: 0;
        width: 100%;
        background: white;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
        border-radius: 0 0 10px 10px;
        z-index: 999;
    }

    .menu-container.open {
        display: block;
    }

    .menu--list {
        flex-direction: column;
        align-items: center;
        padding: 10px ;
        margin: 0;
        gap: 0;
    }

    .menu--list .item {
        font-size: 16px;
    }

    .logo-icon {
        /* padding: px; */
        font-size: 28px;
    }

    .logo h1 {
        padding: 5px;
        font-size: 22px;
    }

    .hamburger {
        font-size: 20px;
        display: block;
        color: black;
    }

    .icon {
        color: #27374d;
        font-size: 20px;
    }
}

/* ======================================================== */
/* .menu {
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    height: 94vh;
}

.logo {
    text-align: center; 
    padding: 20px;
    color: #27374d;
    align-items: center;
    display: flex;
    gap: 20px;
} */

/* .logo h1 {
    font-size: 28px;
} */

/* ul {
    list-style-type: none;
}

.logo-icon {
    font-size: 4rem;
}

.menu--list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu--list .item {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3 ease-in-out;
    color: #27374d;
}

.menu--list .item:hover{
    background-color: #27374d;
    color: #dde6ed;
} */

/* ================================= */
/* .menu {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    height: 94vh;
}

.logo {
    text-align: center;
    padding: 10px;
    color: #27374d;
    align-items: center;
    display: flex;
    gap: 10px;
}

ul {
    list-style-type: none;
}

.logo h2 {
    font-size: 30px;
}

.logo-icon {
    font-size: 2rem;
}

.icon {
    font-size: 1.4rem;
}

.menu--list {
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu--list .item {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3 ease-in-out;
    color: #27374d;
}

.menu--list .item:hover {
    background-color: #27374d;
    color: #dde6ed;
} */